* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: yellow;
}
.section-line {
  width: 130px;
  height: 3px;
  background: #fa5c5c;
  border-radius: 20px;
  margin: 8px auto 25px;
}
.add-btn:hover {
  background-color: #fa5c5c;
  color: #000;
  border-color: #fa5c5c;
}
nav {
  background-color: #fbe580;
}
.menu-card {
  border: 0;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.06);
}

.social-icon.active {
  background-color: #fa5c5c;
  color: white;
  border: none;
  box-shadow: 0 4px 10px rgba(255, 74, 74, 0.4);
}
.card {
  background-color: #fbe580;
}
.social-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
}
footer {
  border-radius: 10px;
  background-color: #ea7b7b;
}
.list-unstyled,
li,
a {
  text-decoration: none;
  color: white;
}
.bo {
  background-color: #fbe580;
  border: 2px solid black;
  border-radius: 10px;
}
